<!DOCTYPE html>
<html>
<head>
    <title>Booking Successful</title>
    <link rel="icon" href="../static/the_red_carpet.jpg" type="image/png">
</head>
<body>
    
    <h2>🎉 Payment Successful!</h2>
    <p>Thank you for booking, <b>{{ name }}</b>!</p>
    <p>Your tickets for the <b>{{ plan_type }}</b> plan have been confirmed.</p>

    <h3>Scan this QR code at entry:</h3>
    <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code" width="250">

    <p><b>Note:</b> This QR Code is valid for one-time entry only.</p>

</body>
</html>
